.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Custom  Styling */

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 160px 20vw;
  /* background-color: #61dafb; */
}
.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  padding: 70px 3vw;
  color: #fff;
  /* background-color: #61dafb; */
}
.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 350px;
  padding: 100px 3vw;
  color: #fff;
  /* background-color: #61dafb; */
}
.navsection {
  min-height: 60px;
  max-height: 30px;
}
.pos1 {
  position: absolute;
  left: 0px;
  top: -100px;
  transform: rotate(180deg);
}
.pos2 {
  position: absolute;
  right: 0px;
  top: -10px;
}
@media screen and (max-width: 480px) {
  .pos1 {
    display: none;
  }
  .pos2 {
    display: none;
  }
}
.lhead {
  font-size: 60px;
  font-weight: 800;
}
.mhead{
  font-size: 45px;
  font-weight: 800;
}
.shead {
  font-size: 20px;
  font-weight: 600;
}
.black {
  color: black;
}
.text {
  font-size: 15px;
  font-weight: 600;
}
.pleft {
  text-align: left;
}
.pcenter{
  text-align: center;
}
.purple {
  color: #8739f9;
}
.purplebg {
  /* background-color: rgb(135, 57, 249);
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
  background-color: #8739f9;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.whitebg {
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.curvegrid {
  border-radius: 20px;
  max-width: 235px !important;
  margin: 10px !important;
  box-shadow: 5px 10px 18px 10px #a308eb;
  z-index: 3;
}
@media screen and (max-width: 480px) {
  .curvegrid {
    border-radius: 20px;
    max-width: 165px !important;
    margin: 5px !important;
    box-shadow: 2px 5px 12px 6px #9917cc;
    z-index: 3;
  }
  .shead {
    font-size: 12px;
  }
}

.mar10{
  margin: 10px;
}
.mar80{
  margin-top: 80px;
  margin-bottom: 0px;
}
.mar30{
  margin: 30px;
}
.placedhead{
  font-size: 70px;
  font-weight: 600;
}
.placedsub{
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .placedhead{
    font-size: 50px;
    font-weight: 600;
  }
  .placedsub{
    font-size: 20px;
    font-weight: 600;
  }
}

.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 269px;
  transform: rotateY(180deg);
}

.wave1 .shape-fill {
  /* fill: #8739f9; */
  fill: #8739f9;
}
.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 270px;
  transform: rotateY(180deg);
}

.wave2 .shape-fill {
  fill: #8739f9;
}
.wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.wave3 .shape-fill {
  fill: #8739f9;
}
